body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: #c0c0c0;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.welcome-text {
  font-size: 3rem;
  font-weight: bold;
  animation: fade-in-out 2s forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.terminal-container {
  padding: 20px;
}

.typing-text {
  font-size: 1.5rem;
  white-space: pre-wrap;
  text-align: left;
}

.blinking-cursor {
  font-weight: bold;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}